body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u3 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:236px;
  top:54px;
  width:210px;
  height:400px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:400px;
}
#u5 {
  position:absolute;
  left:2px;
  top:192px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:407px;
  top:62px;
  width:26px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:276px;
  top:146px;
  width:131px;
  height:142px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:142px;
}
#u9 {
  position:absolute;
  left:2px;
  top:63px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:285px;
  top:162px;
  width:111px;
  height:122px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:122px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:107px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:285px;
  top:162px;
  width:111px;
  height:122px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:122px;
}
#u13 {
  position:absolute;
  left:2px;
  top:49px;
  width:107px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:308px;
  top:426px;
  width:6px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:328px;
  top:426px;
  width:6px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:347px;
  top:426px;
  width:6px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:367px;
  top:426px;
  width:6px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:243px;
  top:66px;
  width:16px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:286px;
  top:342px;
  width:189px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:42px;
  top:129px;
  width:50px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:42px;
  top:169px;
  width:113px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:42px;
  top:210px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:42px;
  top:251px;
  width:126px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:42px;
  top:291px;
  width:63px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:314px;
  top:57px;
  width:10px;
  height:413px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:396px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:413px;
}
#u37 {
  position:absolute;
  left:320px;
  top:30px;
  width:220px;
  height:480px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:480px;
}
#u38 {
  position:absolute;
  left:2px;
  top:232px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
