body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:118px;
  width:290px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u3 {
  position:absolute;
  left:15px;
  top:166px;
  width:290px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u4 {
  position:absolute;
  left:15px;
  top:70px;
  width:290px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u5 {
  position:absolute;
  left:15px;
  top:263px;
  width:290px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u6 {
  position:absolute;
  left:15px;
  top:215px;
  width:290px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u7 {
  position:absolute;
  left:17px;
  top:54px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:15px;
  top:154px;
  width:99px;
  height:16px;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:15px;
  top:103px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:15px;
  top:243px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:15px;
  top:311px;
  width:290px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u16 {
  position:absolute;
  left:15px;
  top:290px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:150px;
  top:103px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:220px;
  top:103px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:132px;
  top:14px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:141px;
  top:456px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:141px;
  top:430px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:140px;
  top:404px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:141px;
  top:482px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:140px;
  top:511px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:141px;
  top:456px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:141px;
  top:430px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:140px;
  top:404px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:141px;
  top:482px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:140px;
  top:511px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:104px;
  top:405px;
  width:105px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:104px;
  top:438px;
  width:105px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:104px;
  top:471px;
  width:104px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:104px;
  top:505px;
  width:104px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:140px;
  top:154px;
  width:132px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u56 {
  position:absolute;
  left:182px;
  top:151px;
  width:15px;
  height:15px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:15px;
  top:356px;
  width:290px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u59 {
  position:absolute;
  left:15px;
  top:339px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:283px;
  top:146px;
  width:10px;
  height:21px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:282px;
  top:151px;
  width:5px;
  height:11px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:11px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:295px;
  top:143px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(155deg);
  -moz-transform:rotate(155deg);
  -ms-transform:rotate(155deg);
  transform:rotate(155deg);
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:-9px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:8px;
  height:1px;
}
#u67 {
  position:absolute;
  left:295px;
  top:152px;
  width:8px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:-9px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:8px;
  height:1px;
}
#u68 {
  position:absolute;
  left:295px;
  top:161px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:-10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u70 {
  position:absolute;
  left:123px;
  top:146px;
  width:10px;
  height:21px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:123px;
  top:151px;
  width:5px;
  height:11px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:11px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:116px;
  top:150px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:9px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u75 {
  position:absolute;
  left:11px;
  top:17px;
  width:25px;
  height:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:15px;
  top:199px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:174px;
  top:195px;
  width:23px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:145px;
  top:443px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:145px;
  top:467px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:134px;
  top:54px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:134px;
  top:446px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:120px;
  top:472px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:134px;
  top:420px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:170px;
  top:320px;
  width:10px;
  height:112px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u95_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u95_end {
  position:absolute;
  left:-5px;
  top:95px;
  width:20px;
  height:18px;
}
#u95_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:112px;
}
#u95_ann {
  position:absolute;
  left:224px;
  top:377px;
  width:1px;
  height:1px;
}
